[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "graphics_test/components/spi-ili9341"]
	path = graphics_test/components/spi-ili9341
	url = https://github.com/Nicolai-Electronics/esp32-component-spi-ili9341
[submodule "graphics_test/components/pax-graphics-lib"]
	path = graphics_test/components/pax-graphics
	url = https://github.com/robotman2412/pax-graphics
[submodule "graphics_test/components/pax-codecs"]
	path = graphics_test/components/pax-codecs
	url = https://github.com/robotman2412/pax-codecs
[submodule "graphics_test/components/esp32-component-spi-ice40"]
	path = graphics_test/components/esp32-component-spi-ice40
	url = https://github.com/Nicolai-Electronics/esp32-component-spi-ice40
[submodule "graphics_test/components/esp32-component-i2c-pca9555"]
	path = graphics_test/components/esp32-component-i2c-pca9555
	url = https://github.com/Nicolai-Electronics/esp32-component-i2c-pca9555
[submodule "graphics_test/components/bus-i2c"]
	path = graphics_test/components/bus-i2c
	url = https://github.com/Nicolai-Electronics/esp32-component-bus-i2c
[submodule "graphics_test/components/pax-html-test"]
	path = graphics_test/components/pax-html-test
	url = https://github.com/robotman2412/pax-html-test
[submodule "graphics_test/main/mch2022-demo"]
	path = graphics_test/main/mch2022-demo
	url = https://github.com/robotman2412/mch2022-demo
